*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  color: #363636;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

a {
  color: #006A99;
  text-decoration: none;
}
a:hover { text-decoration: underline;}

.unbreakable {
  white-space: nowrap;
}

section{ margin-top: 3em; }
.header + section { margin-top: 0;}
section:last-child { padding-bottom: 3em;}

.inner,
h2 > span
{
  padding: 0 40px;
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

p{  max-width: 42em; }

.focus{
  font-size: 1.275em;
}

.header{
  background-color: #E3F4F7;
  margin: 0;
  overflow: hidden;
  padding: 45px 0;
  position: relative;
}

.header .logo{
  height: auto;
  margin-right: 1em;
  vertical-align: middle;
  width: 3.052em;
}

.header h1{
  color: #D25643;
  font-size: 2.375em;
  margin: 0;
}

.header h1 span{
  font-weight: normal;
  line-height: 0.875em;
}

.header .intro {
  display: inline-block;
  padding-top: 1em;
  vertical-align: middle;
}

h2 {
  background-color: #D25643;
  color: white;
  font-size: 1em;
  font-weight: 300;
  padding: 10px;
  margin: 0 0 2.2em;
}

h2 span {
  display:block;
}

.projets,
.presentations {
  display: inline-block;
  max-width: 47%;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: top;
}

.projets{
  margin-right: 5%;
}

.projets h3,
.presentations h3{
  color: #006A99;
  text-align: center;
}

.projets h3 { color: #D25643; }

.activite {
  background: #E3F4F7;
  border: 4px solid #A6D9F0;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 14px 18px;
}

.presentations .activite{
  background-color: #EBF1F3;
  border-color: #C8DAE3;
}

.presentations .activite h4 { border-bottom-color: #C8DAE3; }

.activite:last-child { margin-bottom: 0; }

.activite h4 {
  border-bottom: 2px solid #A6D9F0;
  font-size:1.25em;
  margin: 0 0 0.25em;
  padding-bottom: 0.25em;
}

.projets .activite h4 > a{ color: #D25643; }
.presentations .activite h4 > a { color: #006A99; }

.activite h4 .presentateur{
  display: inline-block;
  font-size: 0.65em;
  font-style: italic;
  font-weight: normal;
}

.activite .samedi,
.activite .dimanche {
  border-radius: 2px;
  display: inline-block;
  margin-right: 0.25em;
  padding: 0.25em 0.65em;
  font-size: 0.8em;
}

.activite .samedi{
  background-color: #F5BBB2;
  color: #AF3B2A;
}

.activite .dimanche{
  background-color: #ADDFF4;
  color: #006A99;
}

.activite p {
  font-size: 0.875em;
}

.contribuer {
  background-color: #D25643;
  background-color: rgba(210,86,66,0.80);
  border-radius: 4px;
  color: #F9EBE8;
  display: block;
  font-size: 0.75em;
  padding: 0.5em 0.75em;
  right: 0.75em;
  position: absolute;
  text-shadow: 0 -1px 1px #A24537;
  top: 0.75em;

  -webkit-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
  animation: fade-in 1s;
}

.contribuer:hover {
  background-color: #E26653;
  background-color: rgba(210,86,66,1);
  border-color: white;
  color: white;
  text-decoration: none;
}

/* Media queries and stuff */

@media only screen and (max-width: 920px) {

  .header h1 {
    display: inline-block;
    max-width: 100%;
  }

  .header .intro {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {

  .header h1 { font-size: 2em; }

  .projets, .presentations {
    display: block;
    max-width: 100%;
    width: auto;
  }

}

@media only screen and (max-width: 550px) {

  .header h1 {
    font-size: 1.5em;
  }

  .header .logo {
    margin-right: 0.5em;
    width: 60px;
  }
  .inner, h2 > span { padding: 0 20px; }

  .contribuer {
    border-radius: 0;
    border-bottom-left-radius: 4px;
    padding: 0.25em 0.5em;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 430px) {
  body{ font-size: 15px; }
  .header .logo{
    margin: -0.25em 0 0;
    width: 2em;
  }
}

@media only screen and (min-width: 1220px) { body { font-size: 18px; } }
@media only screen and (min-width: 1600px) { body { font-size: 24px; } }

/* Maaaaagic */

@-webkit-keyframes fade-in { 0% { opacity: 0; } 33% { opacity: 0; } 100% { opacity: 1; } }​
@-ms-keyframes fade-in { 0% { opacity: 0; } 33% { opacity: 0; } 100% { opacity: 1; } }​
@keyframes fade-in { 0% { opacity: 0; } 33% { opacity: 0; } 100% { opacity: 1; } }​
